body {
	background-color: whitesmoke;
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 50px;
	color: #fcb749;
}

li, a {
	list-style: none;
	color: #4286f4;
	margin-top: 10px;
	text-decoration: none;
}
