<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Bangers" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
<nav>
	<ul>
		<li><a href="http://localhost:3000/pokemon">Home</a></li>
	</ul>
</nav>