<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Bangers" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Edit Pokemon Page</h1>
        <div class ="edit-form">
        <form action="/pokemon/<%=id%>?_method=PUT" method="POST" >
        <!--  NOTE: the form is pre-populated with values for the server-->
            Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
            Image: <input type="text" name="img" value="<%=pokemon.img%>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        </div>
    </body>
</html>