<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
<body>
	<div>
	<h1> Pokemon Index</h1>
	<ul class="pokemon">
		<% for(let i = 0; i < pokemon.length; i++) {%>
		<li>
			<a href="/pokemon/<%=i%>"><%=pokemon[i].name%></a>
		</li>   
		<%}%>
	</ul>
</div>
	<br>
<!-- 		<button><a href="http://localhost:3000/products/new">New Pokemon</a></button>
 -->
</body>
</html>