<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style>
		li {font-family: roboto;}
	</style>
</head>
<body>
	<h1>Pokemon Index</h1>
	<ul class="pokemon">
		<% for(let i = 0; i < pokemon.length; i++) {%>
			<li>
				<a href='/pokemon/<%=i%>'><%= pokemon[i].name %></a>
			</li>
		<% }%>
	</ul>
</body>
</html>