<!DOCTYPE html>
<html>
<head>
	<title></title>
	    <link rel="stylesheet" href="/css/style.css" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
	<h1>New Pokemon</h1>
	
	<form action="/pokemon" method="POST">
		Name: <input type="text" name="name"/>
		<br>
		Image: <input type="img" name="img"/>
		<br>
		<input type="submit"/>
	</form>
</body>
</html>