<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<title>New Page</title>
</head>
<body>
	
	<h1>Create Your New Pokemon</h1>

	<form action="/pokemon" method="POST">
		Name: <input type="text" name="name"><br/>
		Image: <input type="URL" name="img"><br/>
		<input type="submit">
	</form>

</body>
</html>