<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Sniglet:400" rel="stylesheet">
</head>
<body>
	<div>
	<h1> New Pokemon page</h1>

	  <form action="/pokemon" method="POST">
	    Name: <input type="text" name="name"><br/>
	    Img: <input type="text" name="img"><br/>
	    <input type="submit">
	  </form>

	<button><a href="http://localhost:3000/pokemon/">home</a></button>
	</div>

</body>
</html>