<!DOCTYPE html>
<html>
<head>

	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<title>new.ejs</title>

</head>
<body>

	<h1>New Pokemon!</h1>

	<form id="newPokeForm" action="/pokemon" method="post">
		Name: <input type="text" name="name">
		img: <input type="link" name="img">
		<input type="submit">
	</form>
	
	<br/>
	
	<nav>
		<a id="backHome" href="http://localhost:3000/pokemon">Back to Index</a>
	</nav>

</body>
</html>