<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
	<h1><%= pokemon.name%></h1>
	<img src="<%=pokemon.img%>"><br>
	<a href="/pokemon">Back to Index</a>

</body>
</html>