<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
</head>
<body>
	<h1>Pokemon Show page</h1>

		Name: <%=pokemon.name %>
		<br>
		<img src="<%=pokemon.img%>"/>
		<br>
	<button><a href="http://localhost:3000/pokemon/">home</a></button>

</body>
</html>