<!DOCTYPE html>
<html>
<head>
	<title>Show Page</title>
	<style type="text/css">
		body {
			background-color: whitesmoke;
			font-family: 'Josefin Sans', sans-serif;
			margin-left: 50px;
			color: #fcb749;
		}
		a {
			list-style: none;
			color: #4286f4;
			margin-top: 10px;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1><%=pokemon.name%></h1>
	<img src="<%=pokemon.img%>"><br/>
	<a href="/pokemon">Home</a>
</body>
</html>