<!DOCTYPE html>
<html>
<head>

	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<title>show.ejs</title>

</head>
<body>

	<div>
		<h1><%=pokemon.name%></h1>

		<h4><%=pokemon.name%> array position: <%=id%></h4>
	</div>

	<div>
		<img src="<%=pokemon.img%>">
	</div>
	
	<br/>
	
	<nav>
		<a id="backHome" href="http://localhost:3000/pokemon">Back to Index</a>
	</nav>

</body>
</html>