<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Pokemon Show Page</h1>

<%= pokemon.name %>
<br/>
<img src="<%=pokemon.img%>">
<a href="http://localhost:3000/pokemon">go back</a>
</body>
</html>