<!DOCTYPE html>
<html>
<head>

	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<title>show.ejs</title>

</head>
<body>

	<h1><%=pokemon.name%> </h1>
		
		<div>
			<img src="<%=pokemon.img%>">
		</div>
	
	<br/>

	<a id="backHome" href="http://localhost:3000/pokemon">Back to Index</a>


</body>
</html>