body {
	-webkit-font-smoothing: none;
	font-family: 'pokemon-font', monospace;
	background-color: #222;
	color: lightgrey;
	display: flex;
	flex-direction: column;

}

h1 {
	color: #F8D300;
	margin: 30px auto;
}

img {
	max-width: 360px;
	border-radius: 10px;
	border: 5px solid #345B9E;
}

div	{
	margin: 20px auto;
	text-align: -webkit-center;
}

ul {
	list-style-type: decimal-leading-zero;
}

.pokename {
    display: inline-flex;
	font-size: 18px;
	color: lightgrey;
	margin: 10px auto;
	line-height: 25px;
	width: 150px;
}

#edit {
    display: inline-flex;
	font-style: italic;
	font-size: 14px;
	color: grey;
	text-decoration: none;
	width: 150px;
}

form {
	margin: 10px auto;
}

.pokemon form {
    display: inline-flex;
}
#newPokeForm {
    margin: 20px auto;
}

form input {

}

#delete {
	width: 120px;
}

#edit:hover {
	text-decoration: underline;
}

#createNew, #backHome {
	color: #F8D300;
}
