body {
	background-color: lavender;
}
.pokemon {
	color: gray;
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: black;
}

a {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
}

.pokeName {
	font-size: 50px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
}



