body {
	-webkit-font-smoothing: none;
	font-family: 'pokemon-font', monospace;
	background-color: #222;
	color: lightgrey;
	display: flex;
	flex-direction: column;

}

h1 {
	color: #F8D300;
	margin: 0 auto;
}

div	{
	/*margin: 20px auto;*/
}

ul {
	list-style-type: decimal-leading-zero;
}

.pokename {
    display: inline-flex;
	font-size: 18px;
	color: lightgrey;
	margin: 10px auto;
	line-height: 25px;
	width: 150px;
}

#edit {
    display: inline-flex;
	font-style: italic;
	font-size: 14px;
	color: grey;
	text-decoration: none;
	width: 150px;
}

form {
    display: inline-flex;
}

#delete {
	width: 120px;
}

#edit:hover {
	text-decoration: underline;
}

#createNew, #backHome {
	color: #F8D300;
}
