h1 {
	font-family: 'Sniglet', cursive;
	color: lightblue;
	padding-left: 10px;
}

body{
	background-color:#bae1ff;
 }

div{
	position: absolute;
	margin: auto;
	font-family: 'Sniglet', cursive;
	width: 400px;
	height: 500px;
	background-color:#ffdfba;
	border-radius: 10px;
	box-shadow: 0px 0px 150px 20px #99828F;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.pokemon{
	font-family: 'Sniglet', cursive;
	list-style-type: none;
	text-decoration: none;
}

img{
	margin-left: 23px;
	max-width: relative;
	max-height: relative;
	border-radius: 10px;

}
a{
	font-family: 'Sniglet', cursive;
	text-decoration: none;
	color:black;
}
button{
	margin-left: 50%;

}